doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='/css/main.css')
      link(rel='shortcut icon' type='image/png' href='/img/logo-favicon.png')
      link(rel='stylesheet' href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap")
      title MusiWork | #{title}
      

  body
    // HEADER
    block header
      header.header
        input.navigation__checkbox#navi-toggle(type="checkbox")
        label.navigation__button(for="navi-toggle")
          span.navigation__icon &nbsp;
        .navigation__background &nbsp;
        nav.nav.navigation__nav
          ul.navigation__list
            li.navigation__item
              a.nav__el.navigation__link(href='/') All studios
            if user
              li.navigation__item.nav__el.nav__el--ctas.cta-tab
                a.nav__el(href='/me')
                  img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
                  span= user.name.split(' ')[0]
              li.navigation__item.nav__el.nav__el--ctas.cta-tab
                a.nav__el.nav__el--logout#logout Log out
            else
              li.navigation__item.nav__el.nav__el--ctas.cta-tab
                a.nav__el.navigation__link(href='/login') Login
              li.navigation__item.nav__el.nav__el--cta.cta-tab
                a.nav__el.navigation__link(href='/signup') Sign up
        .nav.header__logo
          img(src='/img/logo.svg' alt='MusiWork logo' href="/")
        nav.nav.nav--user
          if user
            a.nav__el.nav__el--logout#logout Log out
            a.nav__el(href='/me')
              img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
              span= user.name.split(' ')[0]
          else
            a.nav__el.nav__el--ctas(href='/login') Log in
            a.nav__el.nav__el--cta(href='/signup') Sign up

    // CONTENT
    block content


    // FOOTER
    include _footer
    
    script(src='https://js.stripe.com/v3/')
    script(src='/js/bundle.js')